<form [formGroup]="form" (ngSubmit)="processForm()">
  <div>
    <h1 style="text-align: center">Order</h1>
    <div>
      <label for="name">Name: </label>
      <input type="text" id="name" formControlName="name" />
    </div>
    <div>
      <label for="mobile">Mobile: </label>
      <input type="text" id="mobile" formControlName="mobile" />
    </div>
    <button type="submit" [disabled]="form.invalid">Save</button>
    <button type="button" (click)="addItem()">Add</button>
  </div>
  <table>
    <thead>
      <th>Item</th>
      <th>Quantity</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of items.controls; let i = index" [formGroup]="item">
        <td><input type="text" formControlName="item" /></td>
        <td><input type="number" formControlName="quantity" /></td>
        <td>
          <button
            type="button"
            [disabled]="itemArrayCtrl.length <= 1"
            (click)="deleteItem(i)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
